LOG
cache
db
resources/\[EAC\]
resources/\[clothes_addon\]
resources/\[MRITRESOCURE\]
resources/\[MRITRESOCURE\]/\[jobs\]/bth_gang/history.json
resources/\[khanhsky\]
resources/\[car\]
node_modules
*.rar
*.lockb
*.log
*.zip
.git
server.cfg
.gitmodules